.container {

background: pink;
height: 100vh;
display: flex;

}
/* flex-wrap: wrap; 화면 크기에 맞춰 다 보일 수 있도록 내용이 움직임*/
/* flex-direction: row; (가로) row가 기본값, 역순 -reverse*/
/* flex-direction: column; (세로) 역순 -reverse; */

.item{
 width: 50px;
 height: 50px;
}

.item1{
    background-color: beige;
}

.item2{
    background-color: yellow;
}

.item3{
    background-color: yellowgreen;
}

.item4{
    background-color: green;
}

.item5{
    background-color: skyblue;
}

.item6{
    background-color: blue;
}

.item7{
    background-color: darkblue;
}


.item8{
    background-color: purple;
}

.item9{
    background-color: magenta;
}

.item10{
    background-color: palevioletred;
}

.item11{
    background-color: pink;
}

.item12{
    background-color: rgb(255, 212, 219);
}

.item13{
    background-color: rgb(251, 234, 251);
}

.item14{
    background-color: rgb(254, 252, 254);
}

.item15{
    background-color: black;
}